@{
    ViewBag.Title = "About";
}
    <div class="container">
        <br />
        <h2>Pine Valley Furniture Company(PVF) Database Application</h2>
        <br /><br />
        <p>This is the Web Application for Pine Valley Furniture Company. It mainly contains records of Employees, Sales Persons, Customers, Products, Raw Materilas and Vendors. This web application contain Order Details with Order Date as well.</p>
        <p>Here User can manage data of Furniture company. One can Insert, Update and Delete and View the records.</p>
        <p>Here the main entities are displayed in main menu and others are listed in Home page of the web application.</p>
        <p>There are few other relational tables as well which are not relevant data for end user. Hence, those have not been displayed over here.</p>
    </div>
