@{
    ViewBag.Title = "Contact";
}
    <div class="container">
        <br />
        <h2>Pine Valley Furniture Company(PVF) Database Application</h2>
        <h3>S1G6-PVFAPP</h3>
        <br />
        <p><b>Meera Moradiya</b> - 105077831</p>
        <p><a href = "mailto: moradiym@uwindsor.ca">moradiym@uwindsor.ca</a></p>
        <br />
        <p><b>Khyati Chandak</b> - 105140348</p>
        <p><a href="mailto: chandakk@uwindsor.ca">chandakk@uwindsor.ca</a></p>
        

    </div>