@{
    ViewBag.Title = "Home Page";
}

<div class="row main-header">
    <h1>Pine Valley Furniture Company(PVF) Database Application</h1>
    <p class="lead">ASP.NET Application for the furniture company which provides details of Products, Employees and Customers.</p>
<!--    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="container">
    <div class="col-md-4">
        <h2><a href="../Customers">Customers</a></h2>
        <p>
            This table provides details of Customers of Pine Valley Furniture Company(PVF).
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="../Employees">Employees</a></h2>
        <p>This table provides details of Employees of Pine Valley Furniture Company(PVF).</p>
    </div>
    <div class="col-md-4">
        <h2><a href="../EmployeeSkills">Employees Skill</a></h2>
        <p>This table provides details of Employees Skills of Pine Valley Furniture Company(PVF).</p>
    </div>
</div>
<div class="container">
    <div class="col-md-4">
        <h2><a href="../Orders">Orders</a></h2>
        <p>
            This table provides details of Orders of Pine Valley Furniture Company(PVF).
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="../Products">Products</a></h2>
        <p>This table provides details of Products of Pine Valley Furniture Company(PVF).</p>
    </div>
    <div class="col-md-4">
        <h2><a href="../RawMaterials">Raw Materials</a></h2>
        <p>This table provides details of Raw Matrials used in Pine Valley Furniture Company(PVF).</p>
    </div>
</div>
<div class="container">
    <div class="col-md-4">
        <h2><a href="../SalesPersons">Sales Persons</a></h2>
        <p>
            This table provides details of Sales Persons of Pine Valley Furniture Company(PVF).
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="../Vendors">Vendors</a></h2>
        <p>
            This table provides details of Vendors of Pine Valley Furniture Company(PVF).
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="../Vendors">Territory</a></h2>
        <p>
            This table provides details of Territory of Pine Valley Furniture Company(PVF).
        </p>
    </div>
</div>
<div class="container">
    <div class="col-md-4">
        <h2><a href="../WorkCenters">Work Centers</a></h2>
        <p>
            This table provides details of Work Centers of Pine Valley Furniture Company(PVF).
        </p>
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>