@model S1G6_PVFAPP.Models.EmployeeSkill

@{
    ViewBag.Title = "Details";
}
    <div class="container">
        <h2>Details</h2>

        <div>
            <h4>EmployeeSkill</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.EmployeeSkillName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmployeeSkillName)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeSkillID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
       </div>